/*----Fonts----*/
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.ttf')
}
@font-face {
    font-family: 'Gilroy-Bold' ;
    src: url('../fonts/Gilroy-Bold.ttf');
}
/*----Root----*/
:root {
    --black: #070707;
    --gray: #828282;
    --container: calc(100vw - 60px);
    --container-sm: 90vw;
    --container-md: 85vw;
    --container-lg: 80vw;
    --container-xl: 75vw;
    --container-xxl: 66vw;
}

/*----Global Styles----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: var(--black);
    font-family: 'Gilroy-Medium';
}
h1 {
    font-size: 47px;
}
h2 {
    font-size: 34px;
}
h4 {
    font-size: 16px;
}
small {
    font-size: 14px;
    color: var(--gray);
}
h1, h2, h4, small {
    font-family: 'Gilroy-Bold';
}

/*----Header Styles----*/
nav {
    display: none;
}
nav .nav_links {
    width: 100%;
    padding: 32px 0;
}
.nav_link {
    color: var(--gray);
    font-family: 'Gilroy-Bold' ;
    text-decoration: none;
}
.nav_link:nth-child(1) {
    color: var(--black);
}
.line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--gray);
}

/*----Main Styles----*/
main {
    padding: 65px 0 83px;
}

.main_title {
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;
}
.main_title h1 {
    margin-bottom: 20px;
}
.menu_burger {
    width: 33px;
    position: absolute;
    top: 15px;
    right: 0;
}
.menu_line {
    display: block;
    height: 3.84px;
    margin-bottom: 3.84px;
    background-color:var(--black);
}
.rotate_text {
    transform: translate(100%,0) rotate(-90deg);
    transform-origin:bottom left;
    text-align: center;
    position: relative;
    bottom:0;
    display: none;
}
.main_img {
    height: calc(1.51*var(--container));
    background: url('../img/bg_mobile.png');
    background-size: cover;
    background-position: center;
}


/*----About Me Section Styles----*/
.about_me {
    padding: 80px 0 75px;
    text-align: center;
    background-color:#F6F6F6;
}
.about_me_title {
    margin-bottom: 30px;
}
.about_text {
    margin-bottom: 50px;
}

/*----sm RWD----*/ 
@media screen and (min-width:576px) {
    .main_img {
        height:calc(1.51*var(--container-sm));
    } 
        
}

/*----md Responsive styles----*/
@media screen and (min-width:768px) {
    nav {
        display: block;
    }

    main {
        padding: 40px 0 83px;
    }
    .main_title {
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-end;
        margin-bottom: 55px;
    }
    .main_title h1 {
        margin-bottom: 0;
    }
    .rotate_text {
        display: block;
    }
    .menu_burger {
        display: none;
    }
    .main_img {
        height: calc(0.41*var(--container-md));
        background: url('../img/bg_desktop.png');
        background-size: cover;
        background-position: center;
    }
    .about_me {
        padding: 120px 0 107px;
    }
    .about_me_title {
        margin-bottom: 20px;
    }
    .about_span {
        display: block;
    }
    
}


/* .about_me {
    flex-direction: column;
} */
/*----lg RWD----*/
@media screen and (min-width:968px) {
    
    .main_img {
        height: calc(0.41*var(--container-lg));
    }
}

/*----xl RWD----*/
@media screen and (min-width:1200px) {
    .main_img {
        height: calc(0.41*var(--container-xl));
    }
}

/*----xxl RWD----*/
@media screen and (min-width:1400px) {
    .main_img {
        height: calc(0.41*var(--container-xxl));
    }
}